<% 
  const { user } = locals
  const username = user ? user.username : 'stranger'
%>

<h1>Odinsider :]</h1>
<h2>Hello, <%= username %>!</h2>

<nav>
  <% if (user) { %>
  <a href="/messages/new">New message</a>
  <% if (!user.is_member) { %>
  <a href="/membership">Become a member</a>
  <% } %>
  <a href="/logout">Log out</a>
  <% } else { %>
  <a href="/login">Log in</a>
  <a href="/sign-up">Sign up</a>
  <% } %>
</nav>





<table>
  <% users.forEach(user => { %>
  <tr>
    <% Object.values(user).forEach(value => { %>
    <td><%= value %></td>
    <% }) %>
  </tr>
  <% }) %>
</table>

<table>
  <% messages.forEach(message => { %>
  <tr>
    <% Object.values(message).forEach(value => { %>
    <td><%= value %></td>
    <% }) %>
  </tr>
  <% }) %>
</table>