<% 
  const { user } = locals
  const username = user ? user.username : 'stranger'
%>

<h1>Odinsider :]</h1>
<h2>Hello, <%= username %>!</h2>

<a href="/log-in">Log in</a>
<a href="/log-out">Log out</a>
<a href="/sign-up">Sign up</a>
<a href="/membership">Become a member</a>

<table>
  <% users.forEach(user => { %>
  <tr>
    <% Object.values(user).forEach(value => { %>
    <td><%= value %></td>
    <% }) %>
  </tr>
  <% }) %>
</table>

<table>
  <% posts.forEach(post => { %>
  <tr>
    <% Object.values(post).forEach(value => { %>
    <td><%= value %></td>
    <% }) %>
  </tr>
  <% }) %>
</table>