<form method="POST" action="">
  <label for="username">Username:</label>
  <input id="username" name="username" type="text">
  <br />
  <label for="password">Password:</label>
  <input id="password" name="password" type="text">
  <br />
  <label for="passwordConfirm">Confirm password:</label>
  <input id="passwordConfirm" name="passwordConfirm" type="text">
  <br />
  <label for="firstName">First name:</label>
  <input id="firstName" name="firstName" type="text">
  <br />
  <label for="lastName">Last name:</label>
  <input id="lastName" name="lastName" type="text">
  <br />
  <button type="submit">Sign Up</button>
</form>